<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <style>
        table{
            width: 100%;
            border-collapse: collapse;
        }
        th,td {
            border: 1px solid rgb(28, 30, 29);
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: rgb(54, 91, 147);
        }
    </style>
</head>
<h1>Daftar Pengembalian</h1>
<form action="/pengembalian/store" method="POST">
    <div class="mb-3">
        <label for="buku_id" class="form-label">Buku</label>
        <select class="form-control" id="buku_id" name="buku_id" required>
          <option value="">-- Pilih Buku --</option>
          <% bukuList.forEach(buku => { %>
              <option value="<%= buku._id %>"><%= buku.nama %></option>
          <% }) %>
      </select>
    </div>
    <div class="mb-3">
        <label for="anggota_id" class="form-label">Anggota</label>
        <select class="form-control" id="anggota_id" name="anggota_id" required>
          <option value="">-- Daftar Anggota --</option>
          <% anggotaList.forEach(anggota => { %>
              <option value="<%= anggota._id %>"><%= anggota.nama %></option>
          <% }) %>
      </select>
    </div>
    <div class="mb-3">
        <label for="denda_id" class="form-label">jumlah Pinjam</label>
        <select class="form-control" id="denda_id" name="denda_id" required>
          <option value="">-- Jumlah Pinjam --</option>
          <% dendaList.forEach(denda => { %>
              <option value="<%= denda._id %>"><%= denda.jumlahPinjam %></option>
          <% }) %>
      </select>
    </div>
      
    <button type="submit" class="btn btn-primary">Tambah Pengembalian</button>
  </form>
  
<table class="table table-striped">
    <tr>
        <th>Nama Buku</th>
        <th>Nama Anggota</th>
        <th>jumlah Pinjam</th>
    </tr>
    <% pengembalian.forEach(data => {%>
    <tr>
        
        <td><%= data.buku_id && data.buku_id.nama ? data.buku_id.nama : 'belum ada buku' %></td>
        <td><%= data.anggota_id && data.anggota_id.nama ? data.anggota_id.nama : 'belum ada anggota' %></td>
        <td><%= data.denda_id && data.denda_id.jumlahPinjam ? data.denda_id.jumlahPinjam : 'belum ada denda' %></td>
    </tr>
    <% }) %>
</table>
